.form {
  label {
    display: block;
  }

  input {
    width: 100%;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
  }

  button {
    font-size: 1.5rem;
  }

  output {
    font-size: 2.5rem;
    line-height: 3;
    text-align: center;
  }

  fieldset {
    border: 0;
    padding: 0;
    display: grid;
    grid-gap: 0.5em;
    grid-template-columns: 1fr 1fr;

    > label {
      grid-row: 1;
    }

    > input {
      grid-row: 2;
    }
  }
}

.label--checkbox {
  margin: 0.4em 0;
  display: flex;
  align-items: center;

  input {
    width: auto;
  }
}
