@mixin border-color($hex) {
  border-color: lighten($hex, 15) darken($hex, 15) darken($hex, 15)
    lighten($hex, 15);
}

@mixin block($hex) {
  background-color: $hex;
  color: #fff;
  border-radius: 0;
  border: 3px solid $hex;
  @include border-color($hex);
  outline: 1px solid #000;
}

label {
  margin-top: 1em;
  display: block;
}

input {
  display: block;
  width: 100%;
  font-family: monaco, consolas, menlo, "Courier New", Courier, monospace;
  margin-bottom: 0.5em;
  font-size: 2em;
  padding: 0.33em;
  border: 0;
  border-bottom: 3px solid #aaa;
}

input:focus {
  border-bottom: 3px solid #000;
}

input[type="checkbox"] {
  height: 1.5em;
  width: 1.5em;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  border: 0;

  &:focus {
    outline: none;
  }

  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 31.2px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #46262c;
    border-radius: 0px;
    border: 0px solid #010101;
  }

  &::-webkit-slider-thumb {
    box-shadow: 1.8px 1.8px 5.9px rgba(255, 0, 0, 0.49),
      0px 0px 1.8px rgba(255, 26, 26, 0.49);
    border: 2.9px solid #941e00;
    height: 25px;
    width: 34px;
    border-radius: 28px;
    background: rgba(255, 55, 56, 0.93);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: 3.1px;
  }

  &:focus::-webkit-slider-runnable-track {
    background: #572f36;
  }

  &::-moz-range-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: #999;
    border: 0;
    border-radius: 0;
  }

  &::-moz-range-thumb {
    border: 3px solid #000;
    border-radius: 0;
    @include border-color(#585);
    height: 1.2em;
    width: 0.5em;
    background: #585;
    cursor: move;
  }
}

button {
  display: block;
  width: 90%;
  margin: 0.5em auto;
  padding: 0.3em;
  font-size: 1.25em;
  font-family: monaco, consolas, menlo, "Courier New", Courier, monospace;
  @include block(#585);

  &:hover,
  &:focus {
    background-color: #696;
    @include border-color(#696);
  }

  &:active {
    background-color: #363;
    border-width: 3px 0 0;
    border-color: darken(#363, 15);
    transform: translateY(2px);
  }
}

output {
  font-size: 2.5em;
  line-height: 3;
  text-align: center;
}

fieldset {
  border: 0;
  padding: 0;
  display: grid;
  grid-gap: 0 0.5em;
  grid-template-columns: 1fr 1fr;

  > label {
    grid-row: 1;
  }

  > input {
    grid-row: 2;
  }
}

.label--checkbox {
  margin: 0.4em 0;
  display: flex;
  align-items: center;

  input {
    width: auto;
  }
}

summary {
  padding: 0.5em;
  @include block(#585);
}

.button--inline {
  display: inline;
  border: 0;
  background-color: transparent;
  color: inherit;
  padding: 0;
  margin: 0;
  outline: 0;
  width: auto;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: transparent;
  }

  &:active {
    transform: none;
  }
}
