nav {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  padding: 0.25em;
  justify-content: space-between;
  background-color: #fff;
  border-top: 2px solid #aaa;

  button {
    margin: 0;
    padding: 0.25em;
    width: auto;
    color: #000;
    background-color: transparent;
    border: 0;

    &:hover,
    &:focus {
      background-color: #ccc;
    }
  }
}
