h1,
h2,
h3 {
  font-size: 1em;
  text-transform: uppercase;
}

table {
  border: 1px dashed #888;
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: left;
  border: 1px dashed #888;
  padding: 0.25rem;
}

ul {
  padding-left: 0;
  list-style: none;
}
