h1,
h2,
h3 {
  font-size: 1em;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 0 1em;
}

th {
  text-align: left;
  padding: 1.25em 0.5em 0.25em;
}

td {
  padding: 0.25em 0.5em;

  .warmup & {
    color: #777;
    font-style: italic;
  }
}

td:last-child,
th:last-child {
  text-align: right;
}

tr:nth-child(even) {
  td {
    background-color: #f2f2f2;
  }
}

ul {
  padding: 0.5em;
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

summary {
  padding: 1em 0.5em;
  background-color: #222;
  background-image: linear-gradient(#222, #111);
  color: #fff;

  [open] & {
    background: #111;
  }
}
